.wrapper-header{

    width: 100%;
    background: red;
    height: 100px;  
    background: #FFFFFF; 
  }
  
  .header-top{
  
    width: 100%;
    background: pink ;
    height: 25%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
  }